{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

{%for i in range(0, 9)%}
    {%if i==8%}
        <p><b>{{ lines[i] }}</b></p>
    {%else%}
        <p>{{ lines[i] }}</p>
    {%endif%}
{%endfor%}


{% endblock %}
