{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Keller Kitti Bernadett<br />
    PX9TNC<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">kellerkitti11@gmail.com</a><br />
</address>

{% endblock %}
