{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <img src="{{url_for('static', filename='Logo.png')}}" width="180" height="180" />
    <h1>{{title1}}</h1>
    <p class="lead">{{ header }}</p>
</div>


<div id="app">
    <form class="form-signin">
        <div class="text-center mb-4">
            <p>{{guide}}</p>
        </div>
        <div class="form-label-group">
            <input id="inputUsername" ref="username" class="form-control" placeholder="Neved" required="" autofocus="">
            <label for="inputUsername">{{Username}}</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" @click.prevent="login">{{Connect}}</button>
        <p class="mt-5 mb-3 text-muted text-center"> 2021</p>
    </form>
</div>

<form  action="{{ url_for('offline') }}">
    <input class="btn btn-lg btn-block" type="submit" value={{OnePlayer}} />
</form>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        methods: {
            login: function () {
                let username = this.$refs.username.value
                window.location.replace(`/play?username=${username}`);
            }
        }
    })
</script>

{% endblock %}
