﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Többszereplős kígyó játék</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />

    <script src="/static/scripts/modernizr-2.6.2.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython_stdlib.js"></script>

    <script type="text/python" src="{{ url_for('static', filename='snake.py') }}">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://js.pusher.com/4.2/pusher.min.js"></script>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>

    <link rel="icon" href="data:;base64,=">
</head>

<body onload="brython(1)">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Többszereplős kígyó játék</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Főoldal</a></li>
                    <li><a href="{{ url_for('about') }}">A játékról</a></li>
                    <li><a href="{{ url_for('contact') }}">Kapcsolat</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="app" class="container-fluid">
        <div class="container-fluid clearfix mb-3 shadow">
            <img src="{{url_for('static', filename='Logo.png')}}" width="62" height="62" />

            <button id="instructions-btn" class="btn btn-info">Súgó</button>
            <select name="setColor" id="setColor">
                <option value="lime" selected disabled hidden>Válaszd ki a kígyód színét</option>
                <option value="lime">lime zöld</option>
                <option value="orange">narancssárga</option>
                <option value="aqua">aqua kék</option>
                <option value="deeppink">mély pink</option>
                <option value="deepskyblue">mély égkék</option>
                <option value="orchid">orchidea</option>
            </select>
            <div class="float-right w-25 py-3">
                <p class="d-inline" id="me"> {% raw %} {{ username }} {% endraw %} </p>

            </div>
        </div>

        <div class="game">
            <canvas id="game-board" width="1300" height="400"></canvas>
            <br>
            <h3 id="score" class="text-center">Pontok: 0</h3>
            <h3 id="result" class="text-center">Helyezés: 0</h3>
            <h6 id="high-score" class="text-center">Legjobb pont: 0</h6>
            <br>
        </div>

        <div class="playerscontainer">
            <div class="bigPlayerTable" id="bigPlayerTable">
                <div id="ranking">
                    <p class="sumplayers" id="players">Játékos rangsor:</p>
                    <div id="numbers">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',

            created() {
                let url = new URL(window.location.href);
                let player = url.searchParams.get("username");

                if (player) {
                    this.username = player 
                } else {
                    this.username = this.generateRandomName();
                    location.assign("/play?username=" + this.username);
                }
            },

            methods: {
                generateRandomName: function() {
                    let text = '';
                    let abcNums = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
                    for (var i = 0; i < 6; i++) {
                        text += abcNums.charAt(Math.floor(Math.random() * abcNums.length));
                    }
                    return text;
                },
            },
        })
    </script>

    {% block scripts %}{% endblock %}

</body>

</html>